
#name-categoria .ml-4{
    margin-left: 45px;
}

.swiper{
    width: 450px;
    margin-left: 45px;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 100px;
}
.swiper-slide img{
    display: block;
    width: 100%;

}

@media(max-width:991px){
    .movies{
        padding: 30px;
    }
}

.div-im .img-l{
    margin-left: 10px;
    width: 130px;
    display: inline-block;
}
